$color-text:#8a8a8a;
$color-title:#3c4858;
$color-border:#3c4858;
.sidemenu{
   width: 100%;
    .logo{
        width: 100%;
        padding: 0%;
        img{
            width: 25%;
            margin: 0px 5px -6px 30px;
        }
        span{
            font-size: 5em;
        }
    }
}
.sidebar{
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
    .nav{
        margin-top: 20px;
        display: block;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        .active{
           // background-color: #3c4858;
            border-left: 5px solid;
            border-color: #3c4858;
        }
        .nav-item{
            a{
                display: block;
                //margin: 0 15px;
                margin: 10px 15px 0;
                border-radius: 3px;
                color: #3c4858;
                text-transform: capitalize;
                font-size: 13px;
                padding: 10px 15px;
                transition: all 150ms ease-in;
                align-items: center;
                text-decoration: none;
            }
            a:hover{
                background-color: #dcdcdc25;
            }
            i{
                font-size: 20px;
                float: left;
                margin-right: 15px;
                line-height: 30px;
                width: 30px;
                text-align: center;
                color: $color-text;
            }
        }
        p{
            margin: -2px;
            line-height: 30px;
            font-size: 1.1em;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;
            color: $color-text;
        }
       
    }
}