<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="title-content">
                    <h3>
                        <i class="fa fa-money"></i>
                        history trasanction mobile money
                    </h3>
                </div>
                <div class="body-content">
                    <table>
                        <thead>
                            <tr>
                                <th>trsactionID</th>
                                <th>cash</th>
                                <th>transaction</th>
                                <th>date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of transaction">
                                <td>{{t.id}}</td>
                                <td>{{t.cash}}</td>
                                <td>{{t.transaction}}</td>
                                <td>{{t.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>