<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="title-content">
                    <h3>
                        <i class="fa fa-arrow-circle-o-up"></i>
                        Call Out
                    </h3>
                </div>
                <div class="body-content">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Number</th>
                                <th>duration</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let call of calls">
                                <td><i class="fa fa-arrow-circle-o-up"></i></td>
                                <td>{{call.numero}}</td>
                                <td>{{call.durer}}</td>
                                <td>{{call.dateHeure}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>